// -- Google fonts --

// - In use: -
$great-vibes:       'Great Vibes', cursive;

// - For reference: -
// Serif:
$lora:              'Lora', serif;
$alegreya:          'Alegreya', serif;
$cardo:             'Cardo', serif;
$radley:            'Radley', serif;
$ovo:               'Ovo', serif;
$mate-sc:           'Mate SC', serif;
$mate:              'Mate', serif;

// Sans-serif:
$alegreya-sans:     'Alegreya Sans', sans-serif;